/*  color:#1B4F72;

*/
*{
  border: 0px solid black;
  font-family: "Geneva", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.container-fluid {
  background-color:white;
}


a, a:visited, a:hover{
  color:#1560bd !important;
  color:#1560bd !important;
  text-decoration:none;
}

.lead a {
  color:white !important;
  background-color: #1560bd;
}

.jumbotron {
  background-color:#e1e8f0;
}


.custom-toggler.navbar-toggler {
    border-color: #1560bd;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(21, 96, 189, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



.border-bottom-3px {
    border-bottom: 3px solid;
}

.dropdown-toggle::after {
    content: none;
}

.fa {
  padding: 10px;
  margin:2px 1px;
  width: 50px;
  text-align: center;
  border-radius:5px;
}

.fa:hover {
    opacity: 0.7;
}


.fa-facebook, .fa-facebook:visited {
  background: #3B5998;
  color: white;
}

.fa-twitter , .fa-twitter:visited{
  background: #55ACEE;
  color: white;
}

.fa-linkedin, .fa-linkedin:visited {
  background: #007bb5;
  color: white;
}

.fa-github, .fa-github:visited {
  background:black;
  color:white;
}
